body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333 !important;
  min-width: 800px;
  font-size: 14.4px !important;
  scrollbar-color: #737373 #3b3b3b !important;
}

:root {
  color-scheme: dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wavesurfer-region {
  border-radius: 0.5em;
  border-style: solid;
  border-color: black;
  border-width: 3.1px;
  border-top: 3.1px;
  border-bottom: 3.1px;
}

.wavesurfer-handle {
  background-color: transparent !important;
  width: 2.71px !important;
}

.wavesurfer-handle-start {
  left: -3px !important;
}

.wavesurfer-handle-end {
  right: -3px !important;
}

.audiocontrols-button {
  height: 27px !important;
  line-height: 8px !important;
  border-radius: 0.4em;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-shadow: #000 0px 0px 3px;
  background-color: rgb(59 59 59) !important;
  color: rgb(224, 224, 224) !important;
  border: none;
}

.audiocontrols-button:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}

.audiocontrols-button:hover {
  background-color: rgb(49, 49, 49) !important;
}

.audiocontrols-button:focus {
  background-color: rgb(49, 49, 49) !important;
}

.audiocontrols-zoom-button {
  padding: 0.375rem 0.375rem !important;
}

.audiocontrols-button-icon{
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}

.audiocontrols-wrapper{
  display: flex;
  align-items: center;
  justify-content : center;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.audiocontrols-left{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.audiocontrols-right{
  flex: 1;
  display: flex;
}

.audiocontrols-times{
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.recording-time{
  font-size: 0.8em;
  color: rgb(184, 184, 184);
  margin-bottom: 0;
}

.module{
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.module-header-button {
  font-size: 0.8em !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0s;
}

.module-header-button:hover, .module-header-button:active {
  color: white !important;
}

.module-content-collapsed {
  overflow: hidden;
  height: 0 !important;
  padding-bottom: 0 !important;
}

*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

.module-settings{
  text-align: center;
}

.module-recording-details{
  width: revert;
  height: revert;
}

.module-player{
  width: 100%;
  height: 100%;
  padding-right: 1em;
  padding-left: 1em;
}

.card-header{
  height: 20px;
  font-size: 0.7em;
  text-align: left;
  line-height: 4px;
  color: rgba(255, 255, 255, 0.6)
}

.audiocontrols-volume-icon{
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
}

.audiocontrols-volume{
  display: flex;
  width: 10em;
}

.card-body{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

#waveform{
  /* display: flex !important;
  height: 600px !important; */
}

/* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
.strip-button-style{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.segment-play-button{
  color: rgb(224, 224, 224);
  font-size: 1.8em;
  padding: 0 !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0s;
}

.segment-delete-button{
  color: rgba(0, 0, 0, 0.651);
  font-size: 1.3em !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  right: 0.25em;
}

.segment-play-panel{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0 5px 5px 0;
  max-width: 100px !important;
  background-color: rgba(0, 0, 0, 0.534);
  margin-right: 0.5em;
  align-items: center;
  display: flex;
}

.segment-play-panel-content{
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.25em;
  display: inline-flex;
  justify-content: center;
}

.segment-times{
  font-size: 0.9em;
  color: rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
}

.segment-time-start:hover,
.segment-time-end:hover{
  color: rgb(221, 221, 221);
}

.segment-delete-button:hover {
  color: rgb(112, 112, 112) !important;
}

.segment-play-button:hover{
  color: rgb(255, 255, 255);
}

.segment-time-start, .segment-time-end{
  margin-bottom: 0;
  font-weight: 400;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0s;
}

.segment-text{
  margin-bottom: 0;
  margin-right: 1.5em;
  color: rgb(0, 0, 0);
  text-align: left;
}

.segment-text-panel{
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}

.segment{
  display: flex !important;
  flex-direction: row !important;
  border: none !important;
  border-radius: 0 !important;
}

.segment-placeholder {
  height: 77.2px;
  color: rgb(224, 224, 224);
  align-items: center;
  justify-content: center;
}

.info-icon {
  font-size: 1.25em;
}

.segment:nth-of-type(2) {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.segment:last-of-type {
  border-bottom-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.segment-label-counter {
  opacity: 0.7;
  font-weight: 500;
  font-size: 0.85em;
}

.merge-segments-button {
  position: absolute;
  bottom: -13px;
  left: 80px;
  z-index: 99999;
  padding: 3px !important;
  opacity: 0.8;
}

.custom-dropdown{
  color: rgb(224, 224, 224) !important;
  background-color: rgb(36, 36, 36) !important;
  border-color: rgb(85, 85, 85) !important;
  font-size: 0.8em !important;
}

.custom-dropdown:hover, .custom-dropdown:focus{
  background-color: rgb(49, 49, 49) !important;
}

.custom-dropdown-option{
  color: rgb(224, 224, 224) !important;
  background-color: rgba(46, 46, 46, 0.274) !important;
}

.speaker-select{
  max-width: 132px !important;
  margin-right: 0.5em;
}

.segment-tag-bar{
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}

.title-small{
  text-align: left;
  font-weight: 500;
  color: rgb(201, 201, 201);
  font-size: 0.8em;
  margin-bottom: 0;
}

.text-small{
  color: rgb(201, 201, 201);
  font-size: 0.8em;
  margin-bottom: 0;
}

.custom-textarea{
  font-size: 0.8em !important;
  background-color: rgba(46, 46, 46, 0.274) !important;
  color: rgb(201, 201, 201) !important;
}

.custom-checkbox{
  padding: 0 !important;
  margin-top: 0 !important;
}

.segment-label-dropdown-menu{
  line-height: 20px;
  background-color: rgb(49, 49, 49) !important;
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
}

.segment-label-dropdown-item{
  color: rgb(224, 224, 224) !important;
  font-size: 0.8em;
  display: flex !important;
  align-items: center !important;
  padding-right: 0 !important;
}

.segment-label-dropdown-item:hover{
  background-color: rgb(83, 83, 83) !important;
  color: rgb(255, 255, 255) !important;
}

.segments{
  max-height: 72vh;
  overflow-y: auto;
}

/* ANNOTATION EDITOR */
.text-tag {
  border-radius: 0.4em;
  padding: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.unpaired-tag {
  border-radius: 0.4em;
  padding: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: inline-flex;
  font-weight: 500;
  align-items: center;
}

.text-tag-inside {
  border-radius: 0.4em;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.text-tag-content {
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 0.4em;
}

.text-tag-label {
  text-transform: uppercase;
  padding-left: 0.5em;
  font-size: 0.7em;
  color: white;
  text-shadow: #000 0px 0px 3px;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

.text-tag-info {
  border-bottom-right-radius: 0.4em;
  border-top-right-radius: 0.4em;
  display: flex;
  align-items: center;
  transition: .25s ease;
  overflow: hidden;
  width: 0;
}

.text-tag:hover .text-tag-info {
  width: 20px;
}

.text-tag:hover .text-tag-content {
  border-radius: unset;
  border-bottom-left-radius: 0.4em;
  border-top-left-radius: 0.4em;
}

.text-tag-delete-button {
  padding-left: 0.15em;
  padding-right: 0.1em;
  user-select: none;
}

.text-tag-button {
  border-radius: 0.4em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  font-size: 0.7em;
  text-shadow: #000 0px 0px 3px;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  padding: 0.5em;
  margin: 3px;
  background-color: rgb(59 59 59) !important;
  font-size: 10px !important;
}

.text-tag-button:disabled {
  opacity: 0.5;
}

.custom-dropdown:disabled:hover, .custom-dropdown:disabled:focus{
  background-color: rgb(59 59 59) !important;
}

.tag-button-color {
  height: 10px;
  width: 10px;
  display: inline-block;
}

.text-tag-button-color {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.unpaired-tag-button-color {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}

.annotation-editor-wrapper {
  width: calc(100% - 15px);
}

.undo-redo-button-icon {
  font-size: 1.7em !important;
}

.undo-redo-button {
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.save-button-icon {
  font-size: 1.4em;
}

.save-button {
  text-transform: unset;
  font-size: 0.8em !important;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.export-button-icon {

}

.job-control-button {
  text-transform: unset;
  font-size: 0.75em !important;
}

.job-control-refuse-button {
  background-color: #dc3545 !important;
}

.job-control-refuse-button:hover, .job-control-refuse-button:focus {
  background-color: #bb2d3b !important;
}

.job-control-done-button {
  background-color: #198754 !important;
}

.job-control-done-button:hover, .job-control-done-button:focus {
  background-color: #157347 !important;
}

.job-control-skip-button {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.speaker-label-letter {
  color: rgba(224, 224, 224, 0.5) !important;
  font-weight: bold;
  width: 0.5em;

}

.speaker-label-input {
  border-color: rgb(61, 61, 61);
  border-width: 1px;
  border-style: solid;
  background-color: rgba(46, 46, 46, 0.274) !important;
  color: rgb(201, 201, 201) !important;
  width: 100%;
  font-size: 0.8em;
}

.speaker-label-container  > :first-child  > :last-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.speaker-label-container  > :last-child  > :last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.speaker-label-container  > :not(:last-child)  > :last-child {
  border-bottom-width: 0;
}

.speaker-label-color {
  clip-path: circle(50% at 50% 50%);
}

.add-label-button {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/* SETTINGS MENU */
.settings-button {
  position: fixed;
  bottom: 0.5em;
  right: 1em;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  align-items: center;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px;
}

.settings-button-gear-icon {
  font-size: 35px;
}

.settings-button-caret-icon {
  font-size: 25px;
}

.settings-button:hover, .settings-button:active {
  color: rgba(0, 0, 0, 0.9);
}

.settings-window {
  background-color: rgba(0, 0, 0, 0.4);
  height: 0;
  transition: .25s ease;
  overflow: hidden;
  border: 0;
  border-radius: 0.25rem;
  position: fixed;
  bottom: 0;
  right: 10em;
  left: 10em;
  backdrop-filter: blur(20px);
  min-width: 510px;
}

.settings-window-expand {
  height: 220px;
  border: 1px solid rgba(0,0,0,.125);
}

.settings-column {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 0.25rem;
  height: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  height: 200px;
}

.settings-modules-container {
  overflow-y: auto;
  height: 107px;
}

.misc-input {
  border-color: rgb(61, 61, 61);
  border-width: 1px;
  border-style: solid;
  background-color: rgba(46, 46, 46, 0.274) !important;
  color: rgb(201, 201, 201) !important;
  border-radius: 0.25em;
  width: 80px;
}

.shift-button {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.25em;
  padding-left: 0.25em;
  text-transform: unset;
}

.border-radius-025em {
  border-radius: 0.25em;
}

.time-since-save {
  color: rgb(201, 201, 201) !important;
  font-size: 0.8em;
  text-align: right;
}

.disabled {
  opacity: 0.5;
}

.module-tabs {
  list-style-type: none;
  padding: 0;
}

.tab-button {
  margin-right: 1em;
  margin-left: 1em;
  color: rgb(201, 201, 201);
  font-weight: 500;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
}

.tab-button:hover {
  color: white;
}

.tab-button-active {
  color: white;
}

.hotkey-button:focus, .hotkey-button:active {
  background-color: #0d6efd !important;
}
