.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

body{
  background-color: #333 !important;
}

.audiocontrols-button{
  margin-top: 1em;
}

.audiocontrols-button-icon{
  font-size: 1em;
  color: white;
}

.audiocontrols-wrapper{
  text-align: center;
}

.audiocontrols{
  display: inline-block;
}

.module{
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.wavesurfer-region{

}

*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}